Source: kafka
Section: database
Priority: extra
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Maintainer: Filip Pytloun <filip.pytloun@tcpcloud.eu>

Package: kafka
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apache Kafka
